:root {
  --banner-background-color: #1e73be;
  --banner-text-color: #e9f2f9;
  --rebeccapurple: #663399;
  --no-underlines: none;
  --no-list: none; }

html, body {
  margin: 0;
  padding: 0; }

.content {
  padding: 20px; }

#name, #description {
  text-align: center; }

#description {
  white-space: nowrap; }

h2#title {
  text-align: center;
  padding-top: 10px; }

h4#date {
  padding: 20px;
  white-space: nowrap; }

#tags {
  font-style: italic; }

.wrapper {
  display: grid;
  grid-template-rows: 4fr;
  grid-row-gap: 10px; }

header {
  grid-row: 1 / 2;
  white-space: nowrap; }

.content {
  grid-row: 2 / 3; }

.aside {
  grid-row: 3 / 4;
  text-align: center; }

#social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.15rem;
  text-align: center;
  list-style-type: none; }

.fab.fa-github.fa-2x {
  grid-column: 1;
  grid-row: 1; }

.fab.fa-linkedin.fa-2x {
  grid-column: 2;
  grid-row: 1; }

.fab.fa-twitter.fa-2x {
  grid-column: 3;
  grid-row: 1; }

#rights {
  align-self: center;
  white-space: nowrap;
  grid-column: 2;
  grid-row: 2; }

#banner {
  color: var(--banner-text-color);
  background-color: var(--banner-background-color); }

#banner a {
  color: white; }

#banner a:hover {
  color: var(--banner-text-color); }

#banner {
  text-align: center; }

#menu {
  margin: 0.5em 0 0.25em 0;
  padding-left: 0;
  font-weight: bold;
  text-transform: uppercase; }

.menu-item {
  display: inline-block;
  padding: 0 0.5em; }

.fab.fa-twitter.fa-2x {
  color: #1ca0f2; }

.fab.fa-linkedin.fa-2x {
  color: #0074b3; }

.fab.fa-github.fa-2x {
  color: #333333; }

html {
  font: normal 100%/1.5 Times, serif; }

h1, h2, h3, h4, h4, h6,
p, ul, figure, blockquote, hr {
  margin: 0 0 1.5rem 0; }

h1 {
  font-size: 1.8020rem;
  line-height: 1.6648; }

h2 {
  font-size: 1.6018rem;
  line-height: 1.8729; }

h3 {
  font-size: 1.4238rem;
  line-height: 1.0535; }

h4 {
  font-size: 1.2656rem;
  line-height: 1.1852; }

h5 {
  font-size: 1.1250rem;
  line-height: 1.3333; }

h6 {
  font-size: 1.0000rem;
  line-height: 1.5000; }

.footnotes {
  font-size: 0.8889rem;
  line-height: 1.6875; }

#rights {
  font-size: 0.8889rem;
  line-height: 1.6875; }

ul {
  list-style-type: var(--no-list); }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:link {
  text-decoration: var(--no-underlines); }

a:visited {
  color: var(--rebeccapurple); }

a:hover {
  color: gray; }

a img {
  display: block;
  border: none; }

img {
  max-width: 100%;
  height: auto; }

@media (min-width: 550px) {
  .wrapper {
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 2em;
    grid-row-gap: 20px; }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }

  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    padding: 20px; }

  .content {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }

  #name, #description {
    text-align: center; }

  h2#title {
    text-align: left; }

  #social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-self: center;
    list-style-type: var(--no-list); }

  .fab.fa-github.fa-2x {
    grid-column: 1;
    grid-row: 1; }

  .fab.fa-linkedin.fa-2x {
    grid-column: 2;
    grid-row: 1; }

  .fab.fa-twitter.fa-2x {
    grid-column: 3;
    grid-row: 1; } }
